name: Build

# Triggers the workflow on push or pull request events (for any branch in a repository)
on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly
          - 1.61.0 # MSRV
    steps:
      - uses: actions/checkout@v2
      # Important preparation step: override the latest default Rust version in GitHub CI
      # with the current value of the iteration in the "strategy.matrix.rust"-array.
      - uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Install required Linux packages for "audio-visualizer"/cpal/minifb
        run: sudo apt update && sudo apt -y install libasound2-dev libxkbcommon-dev

      - run: cargo build --all-targets
      - run: cargo test --all-targets

      # run benchmark: right now, there is no reporting or so from the results
      - run: cargo bench

      - run: rustup target add thumbv7em-none-eabihf
      - run: cargo build --target thumbv7em-none-eabihf

      - run: cargo run --release --example mp3-samples

  style_checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.61.0 # MSRV
    steps:
      - uses: actions/checkout@v2
      # Important preparation step: override the latest default Rust version in GitHub CI
      # with the current value of the iteration in the "strategy.matrix.rust"-array.
      - uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: ${{ matrix.rust }}
          override: true
      - name: Install required Linux packages for "audio-visualizer"/cpal/minifb
        run: sudo apt update && sudo apt -y install libasound2-dev libxkbcommon-dev
      - name: Rustfmt
        run: cargo fmt -- --check
      - name: Clippy
        run: cargo clippy --all-targets
      - name: Rustdoc
        run: cargo doc --document-private-items
